<h2>Artist List............................!</h2>
<div>
                       <table class="tabledes lft_aln">

                        <thead>
                          <tr>
                                <th>S#</th>
                                <th>Music Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                           <%if @artist_list.nil?%>
                          <h4>There are no Music Type to show under this Music List.</h4>
                            <%end%>

                          <%@count=0%>
                           <% @artist_list.each do |ar| %>
                            <tr class="alt">
                                <td><%=@count+= 1  %></td>
                                <td><%= ar.name%></td>
                                <td>

                                <div class="action group rest-list-act">
                                      <%= link_to 'Edit', :controller => "artist", :action => "edit_artist", :class => "popup" , :id => ar.id%>
                                            <span>/</span>
                                            <%= link_to 'Delete',:controller => "artist", :action => "destroy_artist", :id =>ar.id %>

                                </div></td>
                            </tr>
                            <%end%>

                               </tbody>

                    </table>
                     </div>