
<% songs.each do |song| %>
  <%= link_to karaoke_path(song.id) do %>
    <li class="song">
      <%= image_tag('sample_album_pict.jpg', :alt => song.title) %>
      <div class="song_info">
        <p class="song_title"><%= song.title %></p>
        <p class="song_artist">by <%= song.artist.name %></p>
      </div>
      
      <div class="song_statistic">
        <p>Heart 50</p>
        <p>Sung 100</p>
      </div>
      
      <div class="clear"></div>
    </li>
  <% end %>
<% end %>
